	header, section {
					display: inline-block;
				}

				.left {
					float: left;
					
				}

				.right {
					float: right;
					
				}

			    .image { 
					height: 10px;
					width: 10px;
			

				}

				@media print  and (min-width: 480px) {

					#headshot {display: none !important 

					}


				}

				@media screen and (min-width: 480px) {

				.left {
					float: left;
					width: 35%;
				}

				.right {
					float: right;
					width: 65%;
				}

				#headshot {
					display: block;
					text-align: center;
					margin: 50px auto 0;
				
				}

				.experience {
					display: inline-block;
					clear: both;
					margin-top: 30px;
					text-align: center;
				}

				header {
					border: 2px solid #E13A63;
					padding: 10px;
				}

				.education2 {
					margin-top:-360px;
                    

				}

				.experience {
					margin-top: -20px;
				}



				}

